[submodule "marus-core"]
	path = Assets/marus-core
	url = git@github.com:MARUSimulator/marus-core
[submodule "Assets/marus-core"]
	branch = marble-hackathon
[submodule "https://github.com/MARUSimulator/marus-core.git"]
	branch = marble-hackathon
